<img class="logo" src="images/yelping_dog.jpg" />
<p class="first">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Aenean eu turpis in felis tincidunt hendrerit ut vitae leo. 
Mauris turpis justo, volutpat ac magna eu, dictum ultricies elit. 
Mauris scelerisque, velit id posuere tristique, sapien nunc 
imperdiet nisi, sit amet sodales elit lectus vitae orci. In id
lorem odio. Vestibulum ante ipsum primis in faucibus orci luctus et 
ultrices posuere cubilia curae; Donec blandit ligula non dui eleifend 
congue. Mauris accumsan quis leo nec interdum. Sed pretium nisl a 
dapibus gravida. Vestibulum ante ipsum primis in faucibus orci luctus 
et ultrices posuere cubilia curae; Fusce sed tincidunt magna. Nulla 
tincidunt diam quis molestie fermentum. Maecenas id elementum leo. 
Quisque accumsan molestie nunc, at tempor lectus feugiat ut. Quisque 
eget bibendum ipsum. Praesent posuere, lectus sed accumsan iaculis, 
arcu massa hendrerit lacus, vel iaculis mauris ex vitae diam. 
Suspendisse aliquet dictum augue porta congue.</p>
<img class="wine-cheese" src="images/wine_cheese.jpg" />
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada 
fames ac turpis egestas. Nullam sit amet pellentesque nunc. Integer 
eleifend tincidunt blandit. Nullam dapibus odio non interdum gravida. 
Nullam varius ultricies auctor. Phasellus justo nisi, elementum vitae 
suscipit at, malesuada et massa. Donec venenatis porttitor erat sit amet 
scelerisque. Nam in nisl ac tortor suscipit euismod vitae id erat.</p>
<img class="wine" src="images/wine.jpg" />
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
Pellentesque suscipit et eros eget interdum. Nulla in justo iaculis, 
tincidunt sapien sit amet, iaculis ante. Morbi fringilla dolor et 
vehicula viverra. Vestibulum ultrices mauris sed tellus dapibus ultricies. 
Nulla sed diam dui. Aenean turpis dui, ultrices et arcu ut, rutrum 
vehicula tortor. Morbi eu dictum tellus, eget accumsan enim. Quisque 
sed sapien sed purus tempor dapibus non sollicitudin velit. Aliquam 
tempor nec risus id pulvinar. Aenean imperdiet turpis sit amet ante 
molestie rhoncus. In ut orci in purus hendrerit ornare. Sed sed fringilla 
sapien, vitae aliquet nibh. In sed justo nec ligula dictum congue id sit 
amet ipsum.</p>