<% content_for :main_photo do %>
  <h1>Yelping Dog Wine</h1>
  <img class="fullscreen" src="/images/main.jpg" alt="A fullscreen photo of the bar from the outside." />
<% end %>
<div class="home-container">
  <div class="home text">
    <div class="spacer"></div>
    <h2>Wine</h2>
    <img src="/images/wine_outline.png" alt="An outline of a wine bottle, two glasses, and grapes." >
    <h3>Large bottle selection including Virginia wines!</h3>
    <h3>Wines by the glass change weekly!</h3>
  </div>
  <div class="home image">
    <img src="/images/wine_glass.jpg" alt="A photo of people clinking wine glasses." />
  </div>
  <div class="home image">
    <img src="/images/cheese_plate.jpg" alt="A photo of a cheese plate." >
  </div>
  <div class="home text">
    <div class="spacer"></div>
    <h2>Cheese Plates</h2>
    <img src="/images/wine_outline.png" alt="An outline of a wine bottle, two glasses, and grapes." >
    <h3>Artisanal cheese from around the world!</h3>
    <h3>Charcuterie, crostinis, and other accoutrements!</h3>
  </div>
  <div class="home text">
    <div class="spacer"></div>
    <h2>Beer</h2>
    <img src="/images/wine_outline.png" alt="An outline of a wine bottle, two glasses, and grapes." >
    <h3>Ice cold bottled beer and cider!</h3>
    <h3>Rotating selection of local and imported microbrews!</h3>
  </div>
  <div class="home image">
    <img src="/images/beer.jpg" alt="A photo of two glasses of beer, wheat, and hops." >
  </div>
  <div class="home image">
    <img src="/images/grilled_cheese.jpg" alt="A photo of a grilled cheese sandwich with bacon." >
  </div>
  <div class="home text">
    <div class="spacer"></div>
    <h2>Grilled Cheese</h2>
    <img src="/images/wine_outline.png" alt="An outline of a wine bottle, two glasses, and grapes." >
    <h3>Not your typical grilled cheese!</h3>
    <h3>Made with artisan cheese and fresh ingredients!</h3>
  </div>
  <div class="home text">
    <div class="spacer"></div>
    <h2>Knowledgeable Staff</h2>
    <img src="/images/wine_outline.png" alt="An outline of a wine bottle, two glasses, and grapes." >
    <h3>Friendly and welcoming environment!</h3>
    <h3>Ask one of our team members for personalized wine recommendations!</h3>
  </div>
  <div class="home image">
    <img src="/images/wine_staff.jpg" alt="A photo of staff members working behind the bar." >
  </div>
  <div class="home image">
    <img src="/images/wine_tasting.jpg" alt="A photo of many glasses filled with wine for tasting." >
  </div>
  <div class="home text">
    <div class="spacer"></div>
    <h2>Wine Tastings</h2>
    <img src="/images/wine_outline.png" alt="An outline of a wine bottle, two glasses, and grapes.">
    <h3>Free tastings of unique wines from around the world!</h3>
    <h3>Every wednesday from 6:30pm to 7:30pm!</h3>
</div>

