<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <title>Yelping Dog Wine</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
  </head>
  <body>
  <header>
    <%= yield_content :main_photo %>
  </header>
  <main>
    <nav>
      <ul class="nav">
        <a class="nav-item" href="/home"><li>Home</li></a>
        <li class="nav-item">Menus
          <ul class="dropdown">
            <a class="dropdown nav-item" target="_tab" href="/images/food_menu.pdf">
              <li class="dropdown">Food Menu</li>
            </a>
            <a class="dropdown nav-item" href="/wine_menu">
              <li class="dropdown">Wine Menu</li>
            </a>
          </ul>
        </li>
        <a class="nav-item" href="/events"><li>Events</li></a>
        <a class="nav-item" href="/about"><li>About</li></a>
        <a class="nav-item" href="#info"><li>Contact</li></a>
        <a class="nav-item" href="#info"><li>Hours & Location</li></a>
      </ul>
    </nav>
    <%= yield %>
  </main>
  <footer id="info">
    <div class="hours">
      <h2>Hours</h2>
      <dl>
        <dt>Monday: </dt>
        <dd>Closed</dl>
      </dl>
      <dl>
        <dt>Tuesday: </dt>
        <dd>11AM - 9PM</dd>
      </dl>
      <dl>
        <dt>Wednesday: </dt>
        <dd>11AM - 9PM</dd>
      </dl>
      <dl>
        <dt>Thurday: </dt>
        <dd>11AM - 9PM</dd>
      </dl>
      <dl>
        <dt>Friday: </dt>
        <dd>11AM - 10PM</dd>
      </dl>
      <dl>
        <dt>Saturday: </dt>
        <dd>11AM - 10PM</dd>
      </dl>
      <dl>
        <dt>Sunday: </dt>
        <dd>12PM - 6PM</dd>
      </dl>
    </div>
    <div class="contact">
      <h2 class="contact">Contact</h2>
      <dl>
        <dt>Phone: </dt>
        <dd>123-456-7890</dd>
      </dl>
    </div>
    <div class="location">
      <h2 class="address">Address</h2>
      <p class="address">123 Main Street,</p>
      <p class="address">Small Town, VA, 12345</p>
    </div>
    <div class="socialmedia">
      <h2>Social Media</h2>
      <div class="socialicons">
        <a href="https://www.facebook.com" target="_tab">
          <img src="/images/facebook_icon.png" alt="facebook logo" />
        </a>
        <a href="https://www.twitter.com" target="_tab"> 
          <img src="/images/twitter_icon.png" alt="twitter logo" />
        </a>
        <a href="https://www.instagram.com" target="_tab">
          <img src="/images/instagram_icon.png" alt="instagram logo" />
        </a>
      </div>
    </div>
  </footer>
  </body>
</html>