<div class="menu-wrapper">
  <div class="weekly-wine">
    <% if session[:logged_in] == true %>
      <form action="/edit" method="get" id="edit">
        <button type="submit">Edit</button>
      </form>
    <% end %>
    <h2>This Week's Wines by the Glass</h2>
    <% @wine_hash.each do |type, list| %>
      <h3><%= type.capitalize %></h3>
      <ul>
      <% list.each do |wine| %>
        <li><%= wine %></li>
      <% end%>
      </ul>
    <% end %>
  </div>
  <img class="weekly-wine" src="/images/grapes.png">
</div>