@font-face {
  font-family: 'Calligraffitti';
  src: url('/fonts/calligraffitti.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam';
  src: url('/fonts/kalam.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre';
  src: url('/fonts/libre.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: 'Libre', Arial, sans-serif;
}

header {
  background-color: black;
}

h1 {
  position: absolute;
  right: 25vw;
  top: 40vh;
  color: white;
  font-size: 5rem;
}

img.fullscreen {
  width: 100vw;
  height: 100vh;
}

img.logo {
  height: 200px;
  width: 150px;
  float: left;
  margin: 0 20px 20px 0;
}

nav {
  margin-top: -4px;
  font-size: 2rem;
  background-color: rgb(167, 17, 17);
  width: 100%;
  height: 57px;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}

ul.nav {
  list-style-type: none;
  display: flex;
}

ul.dropdown {
  list-style-type: none;
  visibility: hidden;
  background-color: rgb(167, 17, 17);
  position: relative;
  top: 13px;
  height: 114px;
  display: flex;
  flex-direction: column;
}

li:hover ul.dropdown {
  visibility: visible;
}

a.dropdown {
  flex-grow: 1;
}

.nav-item {
  padding: 13px 0 10px 0;
  flex-grow: 1;
  text-align: center;
  box-sizing: border-box;
  height: 57px;
  color: white;
}

.nav a {
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgb(95, 12, 12);
}

div.home-container {
  display: flex;
  flex-wrap: wrap;
}

div.home {
  width: 50vw;
  height: 85vh;
}

div.spacer {
  flex-grow: 1;
}

div.text h2 {
  font-size: 3rem;
  padding-bottom: 0;
  padding-top: 20px;
  flex-grow: 2;
  text-align: center;
}

div.text h3 {
  font-size: 2rem;
  flex-grow: 1;
  text-align: center;
}

div.home.text img {
  flex-grow: 1;
  height: 50px;
  width: 75px;
  position: relative;
  bottom: 8%;
}

div.home {
  box-sizing: border-box;
}

div.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3efe0;
  font-family: "Calligraffitti";
  padding: 0 20px;
}

div.home.image img {
  width: 100%;
  height: 100%;
}

p {
  margin: 0 20px 0px 20px;
  padding-top: 20px;
  line-height: 1.5rem;
  text-align: center;
}

img.wine-cheese {
  float: right;
  margin: 20px 5px 20px 20px;
  border-radius: 5px;
}

img.wine {
  height: 250px;
  width: 37vw;
  float: left;
  margin: 30px 20px 0 5px;
  border-radius: 5px;
}

div.menu-wrapper {
  background-color: #f3efe0;
  display: flex;
}

.menu-wrapper img {
  width: 50%;
  height: auto;
}

div.weekly-wine {
  padding: 30px;
  font-family: "Calligraffitti";
  text-align: center;
  background-color: #f3efe0;
  width: 50%;
  font-family: 'Kalam';
  font-size: 1.5rem;
}

.weekly-wine ul {
  padding-bottom: 20px;
  list-style-type: none;
}

.weekly-wine li {
  padding-bottom: 15px;
}

img.weekly-wine {
  height: 100%;
}

div.admin-wrapper {
  background-color: #f3efe0;
  width: 100%;
  padding: 100px 0;
  text-align: center;
}

.admin-wrapper h2 {
  padding-bottom: 40px;
  font-size: 2.5rem;
}

.admin-wrapper h3 {
  padding-bottom: 20px;
  font-size: 1.5rem;
  color: rgb(167, 17, 17)
}

#login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

#login dl {
  flex-direction: column;
}

input {
  padding: 10px;
  box-sizing: border-box;
  font-size: 2rem;
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 20%;
  padding: 10px 0;
  border-radius: 5px;
  border: 1px solid gray;
}

input.wine-menu {
  font-size: 1rem;
  width: 100%;
  font-family: 'Libre';
}

button.edit {
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #f3efe0;
  border: none;
  margin: 0 10px 0 0;
  float: left;
  cursor: pointer;
}

button.edit img {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 5px;
}

li.edit {
  display: flex;
  height: 50px;
  align-items: center;
}

footer {
  clear: both;
  background-color: rgb(46, 60, 75);
  color: white;
  padding: 30px 20px 20px 20px;
  display: flex;
  justify-content: space-between;
}

h2 {
  padding-bottom: 5px;
}

h2.contact, h2.address {
  padding-bottom: 25px;
}

p.address {
  padding-top: 0;
  margin: 0 0 5px 0;
  text-align: left;
}

dl {
  display: flex;
}

dt {
  padding-right: 10px;
  padding-bottom: 5px;
}

div.socialmedia {
  margin-right: 15vw;
}

.socialicons {
  padding-top: 20px;
}

.socialicons img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
}