@font-face {
  font-family: 'Calligraffitti';
  src: url('/fonts/calligraffitti.ttf') format('truetype');
}

@font-face {
  font-family: 'Kalam';
  src: url('/fonts/kalam.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre';
  src: url('/fonts/libre.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Libre', Arial, sans-serif;
  font-size: 16px;
}

/* styles for layout */

/*   header */
header {
  background-color: black;
}

img.fullscreen {
  height: 100vh;
  width: 100vw;
}

h1 {
  color: white;
  font-size: 5rem;
  position: absolute;
  right: 25vw;
  top: 40vh;
}

/*   nav bar */
nav {
  box-sizing: border-box;
  background-color: rgb(167, 17, 17);
  font-size: 2rem;
  height: 57px;
  margin-top: -4px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

ul.nav {
  display: flex;
  list-style-type: none;
}

.nav-item {
  box-sizing: border-box;
  color: white;
  flex-grow: 1;
  height: 57px;
  padding: 13px 0 10px 0;
  text-align: center;
  text-decoration: none;
}

.nav-item:hover {
  background-color: rgb(95, 12, 12);
}

ul.dropdown {
  background-color: rgb(167, 17, 17);
  display: flex;
  flex-direction: column;
  height: 114px;
  list-style-type: none;
  position: relative;
  top: 13px;
  visibility: hidden;
}

li:hover ul.dropdown {
  visibility: visible;
}

a.dropdown {
  flex-grow: 1;
}

/*   footer */
footer {
  background-color: rgb(46, 60, 75);
  clear: both;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 20px 20px 20px;
}

h2 {
  padding-bottom: 5px;
}

dl {
  display: flex;
}

dt {
  padding-bottom: 5px;
  padding-right: 10px;
}

h2.contact, h2.address {
  padding-bottom: 25px;
}

p.address {
  margin: 0 0 5px 0;
  padding-top: 0;
  text-align: left;
}

div.socialmedia {
  margin-right: 15vw;
}

.socialicons {
  padding-top: 20px;
}

.socialicons img {
  height: 35px;
  margin-right: 10px;
  width: 35px;
}

/* styles for home page */

div.home-container {
  display: flex;
  flex-wrap: wrap;
}

div.home {
  box-sizing: border-box;
  height: 85vh;
  width: 50vw;
}

div.spacer {
  flex-grow: 1;
}

div.text {
  align-items: center;
  background-color: #f3efe0;
  display: flex;
  flex-direction: column;
  font-family: "Calligraffitti";
  padding: 0 20px;
}

div.text h2 {
  flex-grow: 2;
  font-size: 3rem;
  padding-bottom: 0;
  padding-top: 20px;
  text-align: center;
}

div.text h3 {
  flex-grow: 1;
  font-size: 2rem;
  text-align: center;
}

div.home.text img {
  bottom: 8%;
  flex-grow: 1;
  height: 50px;
  position: relative;
  width: 75px;
}

div.home.image img {
  width: 100%;
  height: 100%;
}

/* styles for wine menu */

div.menu-wrapper {
  background-color: #f3efe0;
  display: flex;
}

.menu-wrapper img {
  height: auto;
  width: 50%;
}

div.weekly-wine {
  background-color: #f3efe0;
  font-family: 'Kalam';
  font-size: 1.5rem;
  padding: 30px;
  text-align: center;
  width: 50%;
}

.weekly-wine ul {
  list-style-type: none;
  padding-bottom: 20px;
}

.weekly-wine li {
  padding-bottom: 15px;
}

img.weekly-wine {
  height: 100%;
}

/* styles for events page */

div.event-wrapper {
  background-color: #f3efe0;
  display: flex;
  justify-content: space-between;
  padding: 20px 35px 20px 20px;
}

div.event-list {
  width: 50%;
}

h2.event {
  font-size: 2.5rem;
  text-align: center;
  width: 100%;
}

dl.event {
  flex-direction: column;
  margin-top: 20px;
}

dl.event dt {
  font-size: 2rem;
  margin-bottom: 10px;
}

dl.event dd {
  font-size: 1.3rem;
  margin-bottom: 5px;
  word-wrap: break-word;
  line-height: 1.5rem;
}

input:checked + label + form {
  display: block;
}

label.add-event {
  color: blue;
  cursor: pointer;
  font-size: 1.5rem;
}

label.edit-event {
  color: green;
  cursor: pointer;
  display: block;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

input:checked + label::before {
  background: rgba(0, 0, 0, .4);
  bottom: 0;
  content: "";
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
}

#event-image {
  height: 100%;
}

.event-form {
  background: #f3efe0;
  font-size: 1.5rem;
  left: 30%;
  padding: 15px 30px 30px 30px;
  position: absolute;
  top: 30%;
  z-index: 100;
}

.event-form input, select, textarea {
  font-size: 1.5rem;
  margin: 0;
  padding: 5px;
  width: 100%;
}

.event-form dl {
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
}

.event-form dl dd {
  width: 100%;
}

#cancel {
  color: red;
  cursor: pointer;
  float: right;
  margin-bottom: 15px;
}

textarea {
  box-sizing: border-box;
  font-family: Arial;
  max-width: 100%;
}

#delete {
  background-color: #f3efe0;
  border: none;
  color: red;
  cursor: pointer;
  font-family: 'Libre';
  font-size: 1.5rem;
  margin-bottom: 50px;
  margin-top: 0;
  padding: 5px 0;
  width: auto;
}

/* styles for about page */

div.about-wrapper {
  background-color: #f3efe0;
  overflow: auto;
}

p {
  line-height: 1.5rem;
  margin: 0 20px 0px 20px;
  padding-top: 20px;
  text-align: center;
}

img.logo {
  float: left;
  height: 200px;
  margin: 0 20px 20px 0;
  width: 150px;
}

img.wine-cheese {
  border-radius: 5px;
  float: right;
  margin: 20px 0 20px 20px;
}

img.wine {
  border-radius: 5px;
  float: left;
  height: 250px;
  margin: 30px 20px 0 0;
  width: 37vw;
}

/* styles for admin page */

div.admin-wrapper {
  background-color: #f3efe0;
  padding: 100px 0;
  text-align: center;
  width: 100%;
}

.admin-wrapper h2 {
  font-size: 2.5rem;
  padding-bottom: 40px;
}

.admin-wrapper h3 {
  color: rgb(167, 17, 17);
  font-size: 1.5rem;
  padding-bottom: 20px;
}

#login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

#login dl {
  flex-direction: column;
}

input {
  box-sizing: border-box;
  font-size: 2rem;
  margin-bottom: 10px;
  padding: 10px;
}

button {
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px 0;
  width: 20%;
}

/* styles for edit menu page */

input.wine-menu {
  font-family: 'Libre';
  font-size: 1rem;
  width: 100%;
}

button.edit {
  background-color: #f3efe0;
  border: none;
  cursor: pointer;
  height: 30px;
  float: left;
  margin: 0 10px 0 0;
  padding: 0;
  width: 30px;
}

button.edit img {
  bottom: 5px;
  height: auto;
  position: relative;
  width: 100%;
}

li.edit {
  align-items: center;
  display: flex;
  height: 50px;
}
